modules/core/repo-spi/trunk/src/main/resources/META-INF/quokka.ws/dtd/repository-0.2.dtd

<!--
   DTD for quokka repository files. See http://quokka.ws/project-reference.html for more information.

   PUBLIC "quokka.ws/dtd/repository-0.2"
   SYSTEM "http://quokka.ws/dtd/repository-0.2.dtd"
-->
<!ELEMENT artifact ( original-id?, description?, paths?, dependencies?, overrides? ) >
<!ATTLIST artifact group NMTOKEN #REQUIRED >
<!ATTLIST artifact name NMTOKEN #IMPLIED >
<!ATTLIST artifact type NMTOKEN #IMPLIED >
<!ATTLIST artifact version CDATA #REQUIRED >
<!ATTLIST artifact timestamp CDATA #IMPLIED >

<!ELEMENT original-id EMPTY >
<!ATTLIST original-id group NMTOKEN #REQUIRED >
<!ATTLIST original-id name NMTOKEN #IMPLIED >
<!ATTLIST original-id type NMTOKEN #IMPLIED >
<!ATTLIST original-id version CDATA #IMPLIED >

<!ELEMENT description ( #PCDATA ) >

<!ELEMENT dependencies ( dependency+ ) >

<!ELEMENT dependency ( path-spec* ) >
<!ATTLIST dependency group NMTOKEN #REQUIRED >
<!ATTLIST dependency name NMTOKEN #IMPLIED >
<!ATTLIST dependency paths CDATA #IMPLIED >
<!ATTLIST dependency type NMTOKEN #IMPLIED>
<!ATTLIST dependency version CDATA #REQUIRED >

<!ELEMENT path EMPTY >
<!ATTLIST path description CDATA #REQUIRED >
<!ATTLIST path id NMTOKEN #REQUIRED >

<!ELEMENT path-spec EMPTY >
<!ATTLIST path-spec descend ( true | false ) #IMPLIED >
<!ATTLIST path-spec from NMTOKEN #IMPLIED >
<!ATTLIST path-spec mandatory ( true | false ) #IMPLIED >
<!ATTLIST path-spec options CDATA #IMPLIED >
<!ATTLIST path-spec to NMTOKEN #IMPLIED >

<!ELEMENT paths ( path+ ) >

<!ELEMENT overrides ( override+ ) >
<!ELEMENT override ( path-spec* ) >
<!ATTLIST override group NMTOKEN #IMPLIED >
<!ATTLIST override name NMTOKEN #IMPLIED >
<!ATTLIST override paths CDATA #REQUIRED >
<!ATTLIST override type NMTOKEN #IMPLIED>
<!ATTLIST override version CDATA #IMPLIED >
<!ATTLIST override with CDATA #IMPLIED >
<!ATTLIST override with-paths CDATA #IMPLIED >
